{% extends 'adminbase.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
<SCRIPT language="JavaScript" type="text/javascript">
    function openWin(windowUrl, windowName, windowFeatures) {window.open(windowUrl, windowName, windowFeatures);}
</SCRIPT>


<div class="main-panel">
    <div class="content-wrapper">
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Status</th>
                <th>Image Gallery</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.title }}</td>
                <td>{{ car.category }}</td>
                <td>{{ car.description }}</td>
                <td><img src="{{ asset('uploads/images/' ~  car.image) }}"></td>
                <td>{{ car.price }}</td>
                <td>{{ car.status }}</td>
                <td>
                    <a href="javascript:openWin('{{ path('admin_car_image_new', {'id': car.id}) }}', '', 'toolbar=no, location=no, directories=0, status=no, top=50, left=100, menuBar=no, scrollBars=yes, resizable=no, width=900, height=600');">
                        <img src="{{ asset('assets/admin/images') }}/car.png" height="40">
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_car_show', {'id': car.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('admin_car_edit', {'id': car.id}) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('admin_car_new') }}" class="btn btn-primary">Create new</a>
    </div>
{% endblock %}
