{% extends 'homebase.html.twig' %}

{% block title %}My Companies{% endblock %}

{% block body %}
      {{ include('home/sidebar.html.twig') }}
<div class="main-panel">
    <div class="content-wrapper">

        <SCRIPT language="JavaScript" type="text/javascript">
            function openWin(windowUrl, windowName, windowFeatures) {window.open(windowUrl, windowName, windowFeatures);}
        </SCRIPT>

                <h1>My Companies</h1>

                <table class="table ">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Image Gallery</th>
                        <th>Status</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company in companies %}
                        <tr>
                            <td>{{ company.category }} </td>
                            <td>{{ company.id }}</td>
                            <td>{{ company.title }}</td>
                            <td><img src="{{ asset('uploads/images/' ~  company.image) }}" ></td>

                            <td>
                                <a href="javascript:openWin('{{ path('admin_image_new', {'id': company.id}) }}', '', 'toolbar=no, location=no, directories=0, status=no, top=50, left=100, menuBar=no, scrollBars=yes, resizable=no, width=900, height=600');">
                                    <img src="{{ asset('assets/admin/images') }}/gallery.png" height="40">
                                </a>
                            </td>
                            <td>{{ company.status }}</td>
                            <td>
                                <a href="{{ path('user_companies_show', {'id': company.id}) }}" class="btn btn-primary btn-fw">show</a>
                                <a href="{{ path('user_companies_edit', {'id': company.id}) }}"  class="btn btn-primary btn-fw">edit</a>
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="16">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    <a href="{{ path('user_companies_new') }}" class="btn btn-primary" >Create new</a>
    </div>
</div>
    </div>
{% endblock %}
