{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }}{% endblock %}

{% block body %}
    {{ include('home/sidebar.html.twig') }}
    <div class="main-panel">
        <div class="content-wrapper">
            <h1>{{ app.user.name }}</h1>

            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('user/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
    {% endblock %}
